{% extends("front/base.twig") %}

{% block content %}
    
    <div class="container-fluid" id="ownersOverview">
        <div class="row">
            <div class="col-12">
                <br>
                <button @click="initRegistrateNewOwner()" class="btn btn-primary btn-xs pull-right">
                    + Voeg eigenaar toe
                </button>
                <br><br>
            </div>
        </div>
            
        <div class="row">
            <div class="col-12">

                <table class="table table-bordered table-striped owners" v-if="owners.length > 0">
                    <tbody>
                        <tr>
                            <th width="5%">
                                #
                            </th>
                            <th width="40%">
                                Naam
                            </th>
                            <th width="15%">
                                Aangemaakt
                            </th>
                            <th width="15%">
                                Laatst gewijzigd
                            </th>
                            <th width="25%">
                                Acties
                            </th>
                        </tr>
                        <tr v-for="(owner, index) in owners">
                            <td class="id">
                                ${ owner.id }
                            </td>
                            <td class="name">
                                ${ owner.name }
                            </td>
                            <td class="created">
                                ${ owner.created }
                            </td>
                            <td class="modified">
                                ${ owner.modified }
                            </td>
                            <td>
                                <a v-bind:href="'/pigeons/index/'+ owner.id" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> Bekijk duiven</a>
                                <button class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Bewerken</button>
                                <button class="btn btn-danger btn-xs" @click="deleteOwner(owner.id, index)"><i class="fa fa-trash"></i> Verwijderen</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
        <div class="modal fade" role="dialog" id="owner_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Voeg nieuwe eigenaar toe</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
 
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">${ error }</li>
                            </ul>
                        </div>
 
                        <div class="form-group">
                            <label for="name">Naam:</label>
                            <input type="text" class="form-control" name="name" id="name" v-model="owner.name">
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        <button type="button" @click="registrateNewOwner()" class="btn btn-primary">Opslaan</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock %}

{% block javascript %}
    <script>
        var ownersOverview = new Vue({
        el: '#ownersOverview',
        delimiters: ['${', '}'],
        data () {
            return {
                owner: {
                    id: '',
                    name: '',
                },
                errors: [],
                owners: [],
            }
        },
        mounted: function () {
            this.listOwners();
        },
        methods: {
            initRegistrateNewOwner()
            {
                let self = this;
                $("#owner_modal").modal("show");
            },
            registrateNewOwner()
            {
                let self = this;
                axios.post("{{ app.application_scheme }}{{ app.api_url }}/owners/store/", {
                    name: this.owner.name,
                })
                .then(response => {
                    
                    if (response.data.errors) {
                        Object.entries(response.data.errors).forEach(function (error_msg) {
                            self.errors.push(error_msg[1]);
                        });
                    } else {
                        this.reset();
                        this.owners.push(response.data);
                        $("#owner_modal").modal("hide");
                    }

                });
            },
            listOwners: function()
            {
                let self = this;
                axios.get("{{ app.application_scheme }}{{ app.api_url }}/owners/index/")
                    .then(response => {
                        self.owners = response.data;
                    });
            },
            deleteOwner: function(id, index)
            {
                var r = confirm("Weet u zeker dat u de eigenaar en al zijn duiven en gewicht registraties wilt verwijderen?");
                if (r == true) {
                    let self = this;
                    axios.post("{{ app.application_scheme }}{{ app.api_url }}/owners/delete/", {
                        id: id,
                    })
                    .then(response => {
                        self.owners.splice(index, 1);
                    });
                }
            },
            reset()
            {
                this.owner.name = '';
            },
        }
    });
    </script>
{% endblock %}