{% extends("front/unauthorized.twig") %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
            
                <form action="/users/authenticate" method="post">
                    <input type="hidden" name="_token" value="{{ app.csrf_token }}">
                    <div class="form-group">
                        <label for="email_address">Uw emailadres</label>
                        <input type="email" class="form-control" name="email_address" id="email_address" placeholder="Uw emailadres">
                    </div>
                    <div class="form-group">
                        <label for="password">Uw wachtwoord</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Uw wachtwoord">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}