{% extends("front/base.twig") %}

{% block content %}
    
    <div class="container-fluid" id="pigeonsOverview">
    
        <div class="row">
            <div class="col-12">
                <br>
                <button @click="initRegistrateNewPigeon()" class="btn btn-primary btn-xs pull-right">
                    + Voeg duif toe
                </button>
                <br><br>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">

                <table class="table table-bordered table-striped pigeons" v-if="pigeons.length > 0">
                    <tbody>
                        <tr>
                            <th width="5%">
                                #
                            </th>
                            <th width="20%">
                                Naam
                            </th>
                            <th width="15%">
                                Eigenaar
                            </th>
                            <th width="15%">
                                Geboortedatum
                            </th>
                            <th width="15%">
                                Leeftijd (maanden)
                            </th>
                            <th width="30%">
                                Acties
                            </th>
                        </tr>
                        <tr v-for="(pigeon, index) in pigeons">
                            <td class="id">
                                ${ pigeon.id }
                            </td>
                            <td class="name">
                                ${ pigeon.name }
                            </td>
                            <td class="owner">
                                ${ pigeon.owner.name }
                            </td>
                            <td class="date-of-birth">
                                ${ pigeon.date_of_birth }
                            </td>
                            <td class="age-in-months">
                                ${ pigeon.age_in_months }
                            </td>
                            <td>
                                <a v-bind:href="'/pigeons/view/'+ pigeon.id" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> Bekijk details</a>
                                <button class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Bewerken</button>
                                <button class="btn btn-danger btn-xs" @click="deletePigeon(pigeon.id, index)"><i class="fa fa-trash"></i> Verwijderen</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
        <div class="modal fade" role="dialog" id="pigeon_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Voeg nieuwe duif toe</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
 
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">${ error }</li>
                            </ul>
                        </div>
 
                        <div class="form-group">
                            <label for="owner_id">Owner:</label>
                            <select name="owner_id" id="owner_id" class="ownerSelect2"
                                v-model="pigeon.owner_id" style="width: 100%;">
                                <option></option>
                            </select>
                        </div>
 
                        <div class="form-group">
                            <label for="name">Naam:</label>
                            <input type="text" class="form-control" name="name" id="name" v-model="pigeon.name">
                        </div>
 
                        <div class="form-group">
                            <label for="date_of_birth">Geboortedatum:</label>
                            <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" v-model="pigeon.date_of_birth">
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        <button type="button" @click="registrateNewPigeon()" class="btn btn-primary">Opslaan</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
    </div>
    
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}

{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

    <script>
        var ownersOverview = new Vue({
        el: '#pigeonsOverview',
        delimiters: ['${', '}'],
        data () {
            return {
                pigeon: {
                    owner_id: '',
                    name: '',
                    date_of_birth: '',
                    age_in_months: '',
                    owner: {
                        name: ''
                    },
                },
                errors: [],
                pigeons: [],
                owner: [],
            }
        },
        mounted: function () {
            this.listPigeons();
        },
        methods: {
            initRegistrateNewPigeon()
            {
                let self = this;
                $("#pigeon_modal").modal("show");
                
                $('.ownerSelect2').select2({
                    placeholder: "Selecteer een eigenaar",
                    allowClear: true,
                    minimumInputLength: 3,
                    ajax: {
                        url: '{{ app.application_scheme }}{{ app.api_url }}/owners/get-list-by-name',
                        dataType: 'json',
                        data: function (params) {
                            var query = {
                                search: params.term,
                            }

                            return query;
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                    },

                }).on('select2:select', function (e) {
                    self.pigeon.owner_id = e.params.data.id;
                });
                
            },
            registrateNewPigeon()
            {
                let self = this;
                axios.post("{{ app.application_scheme }}{{ app.api_url }}/pigeons/store/", {
                    owner_id: this.pigeon.owner_id,
                    name: this.pigeon.name,
                    date_of_birth: this.pigeon.date_of_birth,
                })
                .then(response => {
                    
                    if (response.data.errors) {
                        Object.entries(response.data.errors).forEach(function (error_msg) {
                            self.errors.push(error_msg[1]);
                        });
                        
                    } else {
                        this.reset();
                        this.pigeons.push(response.data);
                        $("#pigeon_modal").modal("hide");
                    }

                });
            },
            listPigeons: function()
            {
                let self = this;
                axios.get("{{ app.application_scheme }}{{ app.api_url }}/pigeons/index/{{ ownerId }}")
                    .then(response => {
                        Object.entries(response.data.pigeons).forEach(function (pigeon) {
                            self.pigeons.push(pigeon[1]);
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            deletePigeon: function(id, index)
            {
                var r = confirm("Weet u zeker dat u de duif en gewicht registraties wilt verwijderen?");
                if (r == true) {
                    let self = this;
                    axios.post("{{ app.application_scheme }}{{ app.api_url }}/pigeons/delete/", {
                        id: id,
                    })
                    .then(response => {
                        self.pigeons.splice(index, 1);
                    });
                }
            },
            reset()
            {
                this.pigeon.owner_id = '';
                this.pigeon.name = '';
                this.pigeon.date_of_birth = '';
            },
        }
    });
    </script>
{% endblock %}