{% extends("front/base.twig") %}

{% block content %}
    
    <div class="container-fluid" id="pigeonView">
    
        <div class="row">
            
        </div>
    
        <div class="row">
            <div class="col-12 col-xl-6">
                   
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gegevens duif</h5>
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>${ pigeon.id }</td>
                                </tr>
                                <tr>
                                    <td>Eigenaar</td>
                                    <td>${ pigeon.owner.name }</td>
                                </tr>
                                <tr>
                                    <td>Naam</td>
                                    <td>${ pigeon.name }</td>
                                </tr>
                                <tr>
                                    <td>Geboortedatum</td>
                                    <td>${ pigeon.date_of_birth }</td>
                                </tr>
                                <tr>
                                    <td>Leeftijd (maanden)</td>
                                    <td>${ pigeon.age_in_months }</td>
                                </tr>
                                <tr>
                                    <td>Toegevoegd op</td>
                                    <td>${ pigeon.created }</td>
                                </tr>
                                <tr>
                                    <td>Laatst gewijzigd op</td>
                                    <td>${ pigeon.modified }</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>   
                </div>   
                    
                
                           
            </div>
            
            <div class="col-12 col-xl-6">

                <br>
                <button @click="initRegistrateNewPigeonWeight()" class="btn btn-primary btn-xs pull-right">
                    + Voeg gewichtmeting toe
                </button>
                <br><br>
            
                <table class="table table-bordered table-striped pigeonWeight" v-if="weightHistories.length > 0">
                    <tbody>
                        <tr>
                            <th width="20%">
                                Gewicht (in grammen)
                            </th>
                            <th width="15%">
                                Weegdatum
                            </th>
                            <th width="30%">
                                Acties
                            </th>
                        </tr>
                        <tr v-for="(weightHistory, index) in weightHistories">
                            <td class="name">
                                ${ weightHistory.weight }
                            </td>
                            <td class="owner">
                                ${ weightHistory.weight_date }
                            </td>
                            <td>
                                <button class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Bewerken</button>
                                <button class="btn btn-danger btn-xs"  @click="deleteWeight(weightHistory.id, index)"><i class="fa fa-trash"></i> Verwijderen</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
        <div class="modal fade" role="dialog" id="weight_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Voeg nieuwe gewichtmeting toe</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
 
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">${ error }</li>
                            </ul>
                        </div>
 
                        <div class="form-group">
                            <label for="name">Gewicht (in grammen):</label>
                            <input type="text" class="form-control" name="weight" id="weight" v-model="weightHistory.weight">
                        </div>
 
                        <div class="form-group">
                            <label for="date_of_birth">Weegdatum:</label>
                            <input type="date" class="form-control" name="weight_date" id="weight_date" v-model="weightHistory.weight_date">
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        <button type="button" @click="registrateNewPigeonWeight()" class="btn btn-primary">Opslaan</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
    </div>
    
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}

{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

    <script>
        var ownersOverview = new Vue({
        el: '#pigeonView',
        delimiters: ['${', '}'],
        data () {
            return {
                pigeon: {
                    id: '',
                    owner_id: '',
                    name: '',
                    date_of_birth: '',
                    age_in_months: '',
                    created: '',
                    modified: '',
                    owner: {
                        name: ''
                    },
                },
                errors: [],
                weightHistories: [],
                weightHistory: []
            }
        },
        mounted: function () {
            this.getPigeonData();
            this.listPigeonWeightHistory();
        },
        methods: {
            initRegistrateNewPigeonWeight()
            {
                let self = this;
                $("#weight_modal").modal("show");
            },
            registrateNewPigeonWeight()
            {
                let self = this;
                axios.post("{{ app.application_scheme }}{{ app.api_url }}/pigeon-weights/store/{{ pigeonId }}", {
                    weight: this.weightHistory.weight,
                    weight_date: this.weightHistory.weight_date,
                })
                .then(response => {
                    console.log(response);
                    if (response.data.errors) {
                        Object.entries(response.data.errors).forEach(function (error_msg) {
                            self.errors.push(error_msg[1]);
                        });
                        
                    } else {
                        this.weightHistories.push(response.data);
                        $("#weight_modal").modal("hide");
                    }

                });
                
            },
            listPigeonWeightHistory: function()
            {
                let self = this;
                axios.get("{{ app.application_scheme }}{{ app.api_url }}/pigeon-weights/index/{{ pigeonId }}")
                    .then(response => {
                        Object.entries(response.data).forEach(function (weight) {
                            self.weightHistories.push(weight[1]);
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getPigeonData: function()
            {
                let self = this;
                axios.get("{{ app.application_scheme }}{{ app.api_url }}/pigeons/view/{{ pigeonId }}")
                    .then(response => {
                        self.pigeon = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            deleteWeight: function(id, index)
            {
                var r = confirm("Weet u zeker dat u de gewichtsregistratie wilt verwijderen?");
                if (r == true) {
                    let self = this;
                    axios.post("{{ app.application_scheme }}{{ app.api_url }}/pigeon-weights/delete/", {
                        id: id,
                    })
                    .then(response => {
                        self.weightHistories.splice(index, 1);
                    });
                }
            }
        }
    });
    </script>
{% endblock %}